@import url(https://fonts.googleapis.com/css?family=Poiret+One);

@mixin button-bg($bg) {
  background-color: $bg;
  &:hover {
    background:darken($bg,8%);
    transition: all 0.3s ease;
  }
  &:active {
    background:darken($bg,25%);
  } 
}
button {
    color:white;
    text-decoration:none;
    padding:5px 10px;
    border-radius:3px;
    font-family: 'Poiret One', cursive;
    font-size:2em;
    @include button-bg(#e74c3c);
 }